/***** NAVIGATION BAR *****/
nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 2rem;
  backdrop-filter: blur(15px);
  z-index: 1;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 30%;
  display: flex;
  color: var(--color-light);
  font-size: .75rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* MEDIA QUERIES (SMALL DEVICES)*/
@media screen and (max-width: 600px) {
  nav {
    border-radius: 1rem;
   gap: 0;
  }
  
  nav a {
    font-size: .5rem;
  }
}